In [2]:
import pandas as pd

# 1. Fetch / Load a dataset
df = pd.read_csv("Warehouse_and_retail_Sales.csv")

# 2. Preview the dataset
print(df.dtypes)

df.describe()

YEAR                  int64
MONTH                 int64
SUPPLIER             object
ITEM CODE            object
ITEM DESCRIPTION     object
ITEM TYPE            object
RETAIL SALES        float64
RETAIL TRANSFERS    float64
WAREHOUSE SALES     float64
dtype: object

,YEAR,MONTH,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
count,307645.000000,307645.000000,307642.000000,307645.000000,307645.000000
mean,2018.438525,6.423862,7.024071,6.936465,25.294597
std,1.083061,3.461812,30.986238,30.237195,249.916798
min,2017.000000,1.000000,-6.490000,-38.490000,-7800.000000
25%,2017.000000,3.000000,0.000000,0.000000,0.000000
50%,2019.000000,7.000000,0.320000,0.000000,1.000000
75%,2019.000000,9.000000,3.267500,3.000000,5.000000
max,2020.000000,12.000000,2739.000000,1990.830000,18317.000000

In [3]:
print("First 5 rows of the dataset:")
print(df.head())


# 3. Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())

First 5 rows of the dataset:
   YEAR  MONTH                           SUPPLIER ITEM CODE  \
0  2020      1  REPUBLIC NATIONAL DISTRIBUTING CO    100009
1  2020      1                          PWSWN INC    100024
2  2020      1            RELIABLE CHURCHILL LLLP      1001
3  2020      1          LANTERNA DISTRIBUTORS INC    100145
4  2020      1               DIONYSOS IMPORTS INC    100293

                      ITEM DESCRIPTION ITEM TYPE  RETAIL SALES  \
0                  BOOTLEG RED - 750ML      WINE          0.00
1            MOMENT DE PLAISIR - 750ML      WINE          0.00
2  S SMITH ORGANIC PEAR CIDER - 18.7OZ      BEER          0.00
3        SCHLINK HAUS KABINETT - 750ML      WINE          0.00
4       SANTORINI GAVALA WHITE - 750ML      WINE          0.82

   RETAIL TRANSFERS  WAREHOUSE SALES
0               0.0              2.0
1               1.0              4.0
2               0.0              1.0
3               0.0              1.0
4               0.0              0.0

Missing values per column:
YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             0
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

In [4]:
# Drop rows with any missing values
df_clean = df.dropna()

In [7]:
df_cleaned = df_clean[df_clean['SUPPLIER'] != 'Default']

In [8]:
df_cleans = df_cleaned[pd.to_numeric(df['ITEM CODE'], errors='coerce').notna()]

C:\Users\bicky\AppData\Local\Temp\ipykernel_10108\1878535079.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_cleans = df_cleaned[pd.to_numeric(df['ITEM CODE'], errors='coerce').notna()]

In [9]:
df_cleans.to_csv('Retail_data.csv', index=False)